body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


/* Contenedor principal */
.container {
display: flex;
justify-content: center;
align-items: center;
}


/* Tarjeta */
.Tarjeta {
background-color: #02606e;
width: 320px;
padding: 20px;
border-radius: 18px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
}


.ImagenTarjeta {
width: 100%;
border-radius: 12px;
}


.tituloTarjeta {
font-size: 22px;
color: #f4f2f2;
}


.textoTarjeta {
text-align: center;
color: #f9f9fa;
font-size: 15px;
}


.card-btn {
background-color: #0389a4;
color: rgb(240, 242, 242);
border: none;
padding: 10px 18px;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
transition: 0.3s;
}


.card-btn:hover {
background-color: #00fffb;
}