/* HEADER */
header {
    background-color: #14b6d6;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 30px;
}


.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 25px;
    padding: 25px;
}


.menu {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
}

.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
}


.proyectos h2 {
    margin-top: 0;
}


.tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.tarjeta {
    background-color: white;
    width: 280px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
    max-width: 100%;
    border-radius: 8px;
}

.tarjeta h3 {
    margin-bottom: 5px;
}


footer {
    background-color: #31c4e5;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 20px;
}